<div class="cover">
  <section class="main">
    <section class="card content">
      <div>
        <h1><span style="color: purple;">AdComSys</span> 2024 Post-event feedback survey</h1>
      </div>
      <div>
        <span> <em><b>26th &27th June, 2024</b></em></span>
      </div>
      <div>
        <span>
          Thank you for joining <em><b>AdComSys</b></em> 2024 Events. We hope you learned and
          enjoyed. Please share your feedback to help us improve. Fill out this
          quick survey and share your thoughts.
        </span>
      </div>
      <div>
          <button (click)="verify()" class="verify-button">Please verify yourself</button>
      </div>
    </section>
  </section>
  
</div>

