<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="blur"></div>

<div class="container">
  <div class="header">
    <h1>AdComSys 2024 Post-event feedback survey</h1>
  </div>

  <div class="body">
    <form>
      <!-- Input  : text -->
      <div class="form-input">
        <label for="fullname">Full Name *</label>
        <input
          type="text"
          name="fullname"
          id="fullname"
          placeholder="Enter your name"
        />
      </div>

      <div class="form-input">
        <label for="mobile"> Mobile Number*</label>
        <input
          type="text"
          name="mobile"
          id="mobile"
          placeholder="Enter your mobile number"
        />
      </div>

      <div class="form-input">
        <label for="enrollment">Enrollment Number*</label>
        <input
          type="text"
          name="enrollment"
          id="enrollment"
          placeholder="Enter your mobile number"
        />
      </div>

      <div class="form-input">
        <label for="institute">School / University or College Name*</label>
        <input
          type="text"
          name="institute"
          id="enrollment"
          placeholder="Enter your college,university or school name"
        />
      </div>
      <!-- Input Text End -->

      <!-- Input Select -->

      <div class="form-input event-name">
        <label for="eventname">Event Name*</label>
        <span>Select the event name which you participated in</span>
        <select name="eventname" id="eventname">
          <option selected value="Select an option">Select an option</option>
          <option value="Flutter Fiesta">Flutter Fiesta</option>
          <option value="Poster Compedition">Poster Compedition</option>
          <option value="Wisdom War">Wisdom War (Quiz)</option>
        </select>
      </div>

      <div class="form-input event-name">
        <label for="eventname">Participation Date*</label>
        <span>Select the date on which you participated</span>
        <select name="eventname" id="eventname">
          <option selected value="Select an option">Select an option</option>
          <option value="26/06/24">26th June 2024</option>
          <option value="27/07/24r">27th June 2024</option>
        </select>
      </div>

      <div class="ratings">
        <span>Overall, how satisfied are you with the event?</span>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>

      <div class="form-radio">
        <span>Is this your first time attending events like this?</span>

        <div class="radios">
          <input type="radio" name="attend" id="r1" value="yes" />
          <label for="apple">Yes</label><br />

          <input type="radio" name="attend" id="r1" value="no" />
          <label for="apple">No</label><br />
        </div>
      </div>

      <div class="radio-box">
        <span>How Satisfied are you with the following aspects of the event</span>
        
      </div>


      <div class="button-group">
        <button>Submit</button>
      </div>
    </form>
  </div>
</div>
